@font-face {
    font-family: "Hauss";
    src: url("fonts/als_hauss_regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hauss";
    src: url("fonts/als_hauss_medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

body,
html {
    cursor: default;
    font-family: Hauss, "sans-serif";
}

.game-layout{
    display: flex;
}

.grid-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.grid-square{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid #344861;
    aspect-ratio: 1 / 1;
}

.grid-item{
    font-size: 36px;
    font-family: Hauss;
    font-weight: 400;
    border: 0.01rem solid #BFC6D4;
    color: #344861;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

#square-0, #square-1, #square-3, #square-4, #square-6, #square-7{
    border-right: 0;
}

#square-0, #square-1, #square-2, #square-3, #square-4, #square-5{
    border-bottom: 0;
}
